.show-label {
  font-size: 3.5rem;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.label-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  /* padding: .2rem; */
  background-color: bisque;
  gap: 0.4rem;
  border-radius: 5px;
  border: 1px solid blue;
  /* background-color: pink; */
}

.label-div.label-hide {
  display: none;
}

.label-div > * {
  color: black;
}

.label-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.label-input {
  padding: 4.5px;
  /* border: 1px solid brown; */
  border-style: none;
  outline: none;
  background-color: transparent;
  /* border-bottom: 1px solid black; */
}

/* .add-label {
  /* border: 1px solid red; */
/* } */
