:root{
    --primary-color:#64456d;
    --secondary-color:#e8e3d6;
    --red-color :red;
    /* --primary-hover-color:#332837; */
    --cream-300 : #7b7974;
    --blue-300: #bee3f8;
    --green-300: #c6f6d5;
    --indigo-300: #a5b4fc;
    --red-300: #fed7d7;
    --violet-300: #d8cffc;
    --yellow-300: #fff1ac;
    --gray-300: #d1d5db;
    --gray-900: #1f2937;

}