.color-pallete-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pallete-icon {
  font-size: 3rem;
}

.color-pallete {
  display: flex;
  gap: 0.4rem;
  padding: 5px;
  position: absolute;
  top: 2rem;
  border: 1px solid red;
  border-radius: 5px;
  background-color: var(--green-300);
}

.pallete-hide {
  display: none;
}

.color {
  padding: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}

/* 
--red-300: #fed7d7;
--violet-300: #d8cffc;
--yellow-300: #fff1ac;
--cream-300 : #e8e3d6
    --gray-300: #d1d5db;
--gray-900: #1f2937; */

.default {
  background-color: var(--cream-900);
  color: black;
}

.red {
  background-color: var(--red-300);
  color: var(--grey-900);
}

.violet {
  background-color:var(--violet-300);
  color:var(--grey-900);
}

.blue {
  background-color: var(--blue-300);
  color:var(--grey-900);
}

.yellow {
  background-color: var(--yellow-300);
  color:var(--grey-900);
}
